#page-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20%;
}

#page-profile .sideProfile {
    width: 50%;
    float: left;
    border: 1px solid rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 80vh;
}

#page-profile .sideProfile button{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

#page-profile .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    padding-bottom: 10px;
}

#page-profile .form form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#page-profile .form form label p {
    display: flex;
    text-align: right;
    margin-right: 20px;
}

#page-profile .form form input {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 50%;
    height: 30px;
    font-size: 20px;
    line-height: 45px;
    padding-left: 30px;
    margin-bottom: 20px;
}

#page-profile .form form input:focus {
    border: 2px solid #1b1b1b;
    color: #000;
}

#page-profile .form button {
    border: none;
    background: #1DB73F;
    width: 80%;
    border-radius: 20px;
    margin-left: 20%;
    height: 40px;
    color: #fff;
    font-size: 30px;
}

#page-profile .form button:hover {
    opacity: 0.9;
}