#page-profile {
    display: flex;
   
}

#page-profile .content{
    width: 100%;
    margin: 70px 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

#page-profile .content .sideProfile {
    width: 60%;
    float: left;
    border: 1px solid rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: calc(100vh - 140px);
}

#page-profile .content .sideProfile button{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    padding-bottom: 10px;
    background: transparent;
    border: none;
}

#page-profile .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    padding-bottom: 10px;
}

#page-profile .content .form form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#page-profile .content .form form label p {
    display: flex;
    text-align: right;
    margin-right: 20px;
}

#page-profile .content .form form input {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 50%;
    height: 30px;
    font-size: 20px;
    line-height: 45px;
    padding-left: 30px;
    margin-bottom: 20px;
}

#page-profile .content .form form input:focus {
    border: 2px solid #1b1b1b;
    color: #000;
}
