#page-documents{

}

#page-documents .content{
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(40vh - 50px) calc(60vh - 50px);
    grid-template-areas:"b b" "f f";
    grid-gap: 10px;
    width: 80%;
    margin-left: 20%;
    height: 100%;
}
/* Botões */
#page-documents .content .buttons{
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2%;
}
#page-documents .content .buttons button{
    background: #164AFF;
    height: 40%;
    width: 20%;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    opacity: 0.8;
}


/* Formularios */
#page-documents .content .form{
    border: 1px solid rgb(44, 44, 44);
    grid-area: f;
    border-radius: 10px;
}
#page-documents .content .form h1{
    font-size: 30px;
    padding: 10px 20px;
    color: #2D2079;
}