#component-dropdawn {
    position: absolute;
    width: 200px;
    background-color: #ffffff;
    top: 45px;
    right: 0;
    box-shadow: 3px 10px 10px rgba(0, 0, 0.5);
}

#component-dropdawn p {
    color: #000;
    margin: 10px;
    font-size: 20px;
    transition: opacity 0.2s;
}

#component-dropdawn p:hover {
    cursor: pointer;
    opacity: 0.8;
}