#edit-profile .profile {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(44, 44, 44);
    height: 80vh;
}

#edit-profile .profile .icon {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    padding-bottom: 10px;
}
#edit-profile .profile .icon p {
    padding-left: 55px;
    font-size: 20px;
    color: #0066FF;
}
#edit-profile .profile form {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    padding-bottom: 10px;
}

#edit-profile .profile form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#edit-profile .profile form label p {
    display: flex;
    text-align: right;
    margin-right: 20px;
}

#edit-profile .profile form input {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 50%;
    height: 30px;
    font-size: 20px;
    line-height: 45px;
    padding-left: 30px;
    margin-bottom: 20px;
}

#edit-profile .profile form input:focus {
    border: 2px solid #1b1b1b;
    color: #000;
}

#edit-profile .profile button {
    border: none;
    background: #1DB73F;
    width: 80%;
    border-radius: 20px;
    margin-left: 20%;
    height: 40px;
    color: #fff;
    font-size: 30px;
}

#edit-profile .profile button:hover {
    opacity: 0.9;
}