   /* SMALL DEVICES */

#page-signup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#page-signup .register {
    width: 80%;
    align-content: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-signup .register h1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

#page-signup .register  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-items: center;
    flex-direction: column;
    width: 50%;
}

#page-signup .register  label {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: start;
    color: #000000;
    padding-bottom: 10px;
}

#page-signup .register  input {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: #636363;
}

#page-signup .register  button {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
    height: 45px;
    border: none;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
}
#page-signup .register button:hover {
    opacity: 0.9;
}

#page-signup .register  label p {
    margin: 20px;
}

#page-signup .register .footer {
    bottom: 15px;
    margin-left: 23.5%;
}

#page-signup .register .footer strong {
    color: rgb(255, 0, 0);
}

#page-signup .register  a {
    color: #ff0707;
    font-size: 20px;
}

#page-signup .register  h2{
    color: #000000;
    font-weight: normal;
    bottom: 20px;
    font-size: 20px;
    margin-left: 27%; 
}

#page-signup .continue {
    width: 80%;
    align-content: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-signup .continue h1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

#page-signup .continue  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-items: center;
    flex-direction: column;
    width: 50%;
}

#page-signup .continue  label {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: start;
    color: #000000;
    padding-bottom: 10px;
}

#page-signup .continue  input {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: #636363;
}

#page-signup .continue select{
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: #636363;

}

#page-signup .continue  button {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
    height: 45px;
    border: none;
    background: #000000;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
}

#page-signup .continue button:hover {
    opacity: 0.9;
}

#page-signup .continue  label p {
    margin: 20px;
}

#page-signup .continue .footer {
    bottom: 15px;
    margin-left: 23.5%;
}

#page-signup .continue .footer strong {
    color: rgb(255, 0, 0);
}

#page-signup .continue  a {
    color: #ff0707;
    font-size: 20px;
}

#page-signup .continue  h2{
    color: #000000;
    font-weight: normal;
    bottom: 20px;
    font-size: 20px;
    margin-left: 27%; 
}


/* TABLETS */

@media screen and (min-width: 768px) {
    #page-signup .register {
        padding: 30px 60px;
    }
    #page-signup .register h1 {
        font-size: 50px;
    }
    #page-signup .register  {
        padding-top: 30px;
    }
    #page-signup .register label {
        font-size: 30px;
    }
    #page-signup .register input {
        background: #C4C4C4;
        height: 45px;
        font-size: 26px;
    }
    #page-signup .register button {
        height: 45px;
        font-size: 26px;
    }

    #page-signup .register .footer {
        font-size: 20px;
    }

    #page-signup .continue {
        padding: 30px 60px;
    }
    #page-signup .continue h1 {
        font-size: 50px;
    }
    #page-signup .continue  {
        padding-top: 30px;
    }
    #page-signup .continue label {
        font-size: 30px;
    }
    #page-signup .continue input {
        background: #C4C4C4;
        height: 45px;
        font-size: 26px;
    }
    #page-signup .continue button {
        height: 45px;
        font-size: 26px;
    }

    #page-signup .continue .footer {
        font-size: 20px;
    }

     /* LARGE DEVICES - WIDE SCREEN */
     
     @media screen and (min-width:1152px){

        #page-signin .register {
            width: 100%;
            padding-left: 30%;
            padding-top: 50px;
            padding: 50px 25%;
        }
        #page-signin .register label {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            text-align: start;
            color: #000000;
            padding-bottom: 10px;
        }
        #page-signin .register button {
            font-size: 40px;
        }
    }
}