#page-home{
}

#page-home .content{
    
    padding: 20px;
    display: grid;
    grid-template-columns: calc(80vw - 30px)calc(50vw - 30px);
    grid-template-rows: calc(35vh - 10px)calc(50vh - 60px);
    grid-template-areas:"l" "n";
    grid-gap: 10px;
    width: 80%;
    margin-left: 20%;
    height: 100%;

}

#page-home .lastOs {
   grid-area: l;
   border: 1px solid rgb(44, 44, 44);
   border-radius: 5px;
}

#page-home .lastOs button{
  margin-bottom: 10px;
  background: #00ff00;
  width: 6%;
  height: 30px;
  border: none;
  border-radius: 30px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.2s;
  justify-content: center;
  justify-items: center;
}
#page-home .lastOs h1 button {
  display: flex;
  justify-content: space-between;
}


#page-home .notifications {
   grid-area: n;
   border: 1px solid rgb(44, 44, 44);
   border-radius: 5px;
}